logging:
    # "-p" (== --print) makes logging obsolet (espcically if you running a systemd service)
    # log_file:                 "./__test__/mqtt-logs.log"
    log_level:                  "info"  # debug, info, warning, error

mqtt:
    client_id:                  "mqtt-pg-logger-1234"
    host:                       "<your_broker>"
    port:                       1883
    protocol:                   4  # 3==MQTTv31 (default), 4==MQTTv311, 5==default/MQTTv5,
    subscriptions:              ["smarthome/#", "smarthome2/#"]  # topics
    skip_subscription_regexes:  []  # regex for topics

database:
    host:                       "localhost"
    port:                       5435
    user:                       "<your database user>"
    password:                   "<your database password>"
    database:                   "<your database name>"
    # clean_up_after_days:      14  # default: 14; disable == 0
    # table_name:               "journal"  # default: "journal"
