[Unit]
Description=MQTT Postgres Logger

[Service]
Type=simple
ExecStart=/opt/mqtt-pg-logger/mqtt-pg-logger.sh --systemd-mode --config-file /opt/mqtt-pg-logger/mqtt-pg-logger.yaml
Restart=always
RestartSec=60
WorkingDirectory=/opt/mqtt-pg-logger
User=<your service user>

[Install]
WantedBy=multi-user.target
