[Unit]
Description=MQTT Postgres Logger
After=syslog.target network.target
# consider to add "docker.service" too if your database or mqtt broker runs within a local docker container
# Requires=docker.service
# After=syslog.target network.target docker.service

[Service]
Type=simple
ExecStart=/opt/mqtt-pg-logger/mqtt-pg-logger.sh --systemd-mode --config-file /opt/mqtt-pg-logger/mqtt-pg-logger.yaml
Restart=always
RestartSec=15
WorkingDirectory=/opt/mqtt-pg-logger
User=<your service user>

[Install]
WantedBy=multi-user.target
